{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}

  <div class="container">

    <h1>{{ title }}</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/auth">Auth</a></li>
        <li><a href="/cookies">Cookies</a></li>
        <li><a href="/encryption">Encryption</a></li>
        <li><a href="/sessions">Sessions</a></li>
      </ul>
    </nav>

    <hr>

    <nav>
      <ul>
        <li><a href="/encryption/md5">md5</a></li>
        <li><a href="/encryption/salt">Salt</a></li>
        <li><a href="/encryption/hash">Hash</a></li>
        <li><a href="/encryption/compare">Compare</a></li>
      </ul>
    </nav>

    <hr />

    <p>Result: <strong>{{ result || "No result key returned." }}</strong></p>

  </div>

{% endblock %}
